
@{
    ViewBag.Title = "Домашняя страница";
    Layout = "~/Views/Layouts/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Контрольная панель</h2>
    </div>
</div>
